<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta http-equiv="Access-Control-Allow-Origin" content="*" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/iconfont.css" rel="stylesheet" />
		<link href="../css/imgView.css" rel="stylesheet" />
		<link href="../css/detail.css" rel="stylesheet" />
		<style>
			#content{
				font-size: 17px;
			}
			#content p{
				font-size: 17px;
			}
			#content .sdTit{
				font-weight: 600;
				margin: 0.3rem 0;
				font-size: 17px;
			}
			#content img{
				margin-bottom: 0.1rem;
			}
			#content .hit{
				font-size: 14px; 
				margin: 0;
				margin-bottom: 0.3rem;
				display: block;
				color: #999;
				line-height: 0.4rem;
			}
		</style>
	</head>

	<body>
		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<a class="mui-action-back mui-icon iconfont mui-pull-left">&#xe604;</a>
					<!--<h1 class="mui-title">详情页</h1>-->
					<a class="iconfont  mui-pull-right" href="#share" style="font-size: 0.45rem;color: #333;">&#xe61b;</a>
				</header>
				<div class="timg">
					<div class="timgBox">
						<img src="../img/zan.png" alt="" />
					</div>
				</div>

				<div id="offCanvasContentScroll" class="mui-scroll-wrapper mui-content">

					<div class="mui-scroll ">

						<div class="article">

							<div class="article_tittle">
								那所勇敢捍卫过个尊严的香港学校，背景不太简单！
							</div>
							<div class="article_author">
								<!--<a href="javascript:;" class="us_photo">
									<img src="../img/4.jpg" alt="" />
								</a>-->
								<span class="au_origin">知乎</span>
								<div class="au_read">
									<span class="num">100</span>
									<span>次阅读</span>
								</div>
							</div>

							<div class="article_content" id="content">
								<span>中新网1月10日电 据美国《世界日报》报道，免费的“中国留学生旅行者安全援助服务热线”暨安全服务社交媒体公众号于当地时间1月8日在美正式开通，<img src="../img/7.jpg" data-preview-src="" data-preview-group="1">
								<span class="hit">学生旅行者安全援助服务热线”暨安全服务社交媒体公众号中国留学生旅行者安全援助服务热线”</span>
								该热线是中国一个安保企业和华人旅行社共同促成，目的是满足赴美留学和旅游、经商的中国公民的安全需求，并为其解答各种疑难问题，以及介绍相关的专家和警局。</p>
								<img src="../img/5.jpg" data-preview-src="" data-preview-group="1">
								<span class="hit">学生旅行者安全援助服务热线”暨安全服务社交媒体公众号中国留学生旅行者安全援助服务热线”</span>
								<p class="sdTit">习近平总书记与十九届</p>
								<p>中央党校报告厅里，习近平总书记与十九届中央政治局常委们台上就座，台下“持笔听课”的是新进中央委员会的委员、候补委员，各省区市和新疆生产建设兵团、<img src="../img/6.jpg" data-preview-src="" data-preview-group="1">
								<span class="hit">学生旅行者安全援助服务热线”暨安全服务社交媒体公众号中国留学生旅行者安全援助服务热线”</span>中央和国家机关有关部门主要负责同志，军队各大单位、中央军委机关各部门主要负责同志，民主党派相关人士列席。这是当今中国规格极高的“学习研讨班”</p>
								<p class="sdTit">安保企业代表张先生表示</p>
								<p>该安保企业代表张先生表示，这是一个公益性热线，替中国留学生和旅行者安全信息服务，帮助他们解决留学旅行中的困难，帮助其联系律师事务所和警局、医院等。</p>
							</div>

							<div class="article_love">
								<div class="but" id="hit">
									<span class="mui-icon iconfont icon">&#xe60c;</span>
									<span class="pre">点赞</span>
									<span>666</span>
								</div>
								<div class="but" id="collect" style="transition: all .5s;">
									<span class="mui-icon iconfont icon">&#xe607;</span>
									<span>收藏</span>
								</div>
							</div>

							<div class="article_label">
								<div class="name">标签</div>
								<div class="reg">
									<button type="button">书籍</button>
									<button type="button">排版</button>
									<button type="button">书籍</button>
									<!--<button type="button">排版</button>
									<button type="button">排版</button>-->
									<span id="inform">举报</span>
								</div>
							</div>
							<!--相关链接-->
							<ul class="recommend mui-list-unstyled" id="list">
								
								<li lid='3'>
									<!--<div class="three_imgs">
										<img src="../img/5.jpg" alt="" />
										<img src="../img/8.jpg" alt="" /> 
										<img src="../img/4.jpg" alt="" />
									</div>-->
									<div class="three_tit">
										<span>李小璐，说好的爱你永远，白首不分离，怎么说变就变</span>
									</div>
									<div class="three_imgs">
										<div></div>
										<div></div>
										<div></div>
									</div>

									
									<div class="correlation">
										<div class="pho">
											<!--<a href="javascript:;">
												<img src="../img/4.jpg" alt="" />
											</a>-->
											<span>小饭团Midy</span>
										</div>
										<div class="read">
											<span>365</span>
											<span>次阅读</span>
										</div>
									</div>
								</li>

								<li lid='1'>
									<div class="one_top">
										<div class="one_tit">
											<div class="font mui-ellipsis-2">李小璐，说好的爱你永远，白首不分离，怎么说变就变</div>
											<div class="correlation">
												<div class="pho">
													<!--<a href="javascript:;">
														<img src="../img/4.jpg" alt="" />
													</a>-->
													<span>小饭团Midy</span>
												</div>
												<div class="read">
													<span>365</span>
													<span>次阅读</span>
												</div>
											</div>
										</div>
										<div class="thurmd">
											<!--<img src="../img/4.jpg" alt="" />-->
										</div>
									</div>
								</li>

								<li lid='0'>
									<div class="three_tit">
										<span>李小璐，说好的爱你永远，白首不分离，怎么说变就变</span>
									</div>
									<div class="correlation">
										<div class="pho">
											<!--<a href="javascript:;">
												<img src="../img/4.jpg" alt="" />
											</a>-->
											<span>小饭团Midy</span>
										</div>
										<div class="read">
											<span>365</span>
											<span>次阅读</span>
										</div>
									</div>
								</li>

								<li lid="4" class="video">
									<div class="three_tit">
										<span>周董为你倾情演绎甜蜜爱情——告白气球</span>
									</div>
									<div class="videoBox">
										<div class="poster">
											<div class="top">分享至</div>
											<div class="bott">
												<div>
													<div class="shares" name="微信">
														<img src="../img/wechat.png" alt="" />
													</div>
													<span>微信</span>
												</div>
												<div>
													<div class="shares" name="QQ">
														<img src="../img/qq.png" alt="" />
													</div>
													<span>QQ</span>
												</div>
												<div>
													<div class="shares" name="朋友圈">
														<img src="../img/friendcircle.png" alt="" />
													</div>
													<span>朋友圈</span>
												</div>
												<div>
													<div class="shares" name="空间">
														<img src="../img/room.png" alt="" />
													</div>
													<span>QQ空间</span>
												</div>
											</div>
											<div class="footer">
												<div class="foo_left">
													<span class="iconfont" style="font-size: 0.3rem;">&#xe61a;</span>
													<span class="replay">重播</span>
												</div>
												<div class="foo_right">
													3.45
												</div>
											</div>
										</div>
										<video class="myvideo" controls src="https://qiniu-video5.vmoviercdn.com/5a55ccee13b1a.mp4" poster="../img/5.jpg" webkit-playsinline></video>
									</div>
									
									<div class="correlation">
										<div class="pho">
											<!--<a href="javascript:;">
												<img src="../img/4.jpg" alt="" />
											</a>-->
											<span>小饭团Midy</span>
										</div>
										<div class="read">
											<span>365</span>
											<span>次阅读</span>
										</div>
									</div>
								</li>
							
							</ul>
						</div>
					</div>
				</div>

				<!--底部分享-->
				<!--<div class="tab_share">
					<div class="shar_left">分享至</div>
					<div class="shar_right bott">
						<div name="微信" class="shares">
							<div>
								<img src="../img/wechat.png" alt="" /><br />
							</div>
							<p>微信</p>
						</div>
						<div name="QQ" class="shares">
							<div>
								<img src="../img/qq.png" alt="" /><br />
							</div>
							<p>QQ</p>
						</div>
						<div name="空间" class="shares">
							<div>
								<img src="../img/room.png" alt="" /><br />
							</div>
							<p>空间</p>
						</div>
						<div name="朋友圈" class="shares">
							<div>
								<img src="../img/friendcircle.png" alt="" /><br />
							</div>
							<p>朋友圈</p>
						</div>
					</div>
				</div>-->

			</div>

		</div>

		</div>
		<!--分享-->
		<div id="share" class="mui-popover mui-popover-action mui-popover-bottom">
			<div class="mui-table-view aa mui-table-view-cell">
				<div class="top">分享至</div>
				<div class="bott">
					<div>
						<div class="shares" name="微信">
							<img src="../img/wechat.png" alt="" />
						</div>
						<span>微信</span>
					</div>
					<div>
						<div class="shares" name="QQ">
							<img src="../img/qq.png" alt="" />
						</div>
						<span>QQ</span>
					</div>
					<div>
						<div class="shares" name="朋友圈">
							<img src="../img/friendcircle.png" alt="" />
						</div>
						<span>朋友圈</span>
					</div>
					<div>
						<div class="shares" name="空间">
							<img src="../img/room.png" alt="" />
						</div>
						<span>QQ空间</span>
					</div>
				</div>
			</div>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a href="#forward"><b>取消</b></a>
				</li>
			</ul>
		</div>
		<script src="../js/mui.js"></script>
		<script src="../js/rem.js"></script>
		<script src="../js/mui.zoom.js"></script>
		<script src="../js/mui.previewimage.js"></script>
		<script src="../js/detail.js"></script>
		<script type="text/javascript">
			mui.previewImage(); //启动图片快捷查看
			
			mui.init();
			var flag = true,
				flag1 = true,
				flag2 = true;

			var hit = document.getElementById('hit');
			var collect = document.getElementById('collect');

//			var url='http://111.231.75.58:17790/content/getContentDetail?apiVersion=V0.1&apiTime=1517279685164&appId=10010&userId=1&udid=F635D43C-0A8E-4F09-AA4E-73152CB3F504&deviceId=2&contentId=7766385f79667879dd26971f774e0bc1'
			
//			url=url.split('?')[1];
//			url=url.split('&');
//			console.log(url);
//			var arr=[];
//			for (var i=0;i<url.length;i++) {
//				arr.push(url[i].split('='))
//			}
//			console.log(arr)

//			var url='https://mock.mmcai.cn/mock/5a530bdd2b68750fbe1ac4eb/index/listDetail';
//
//			mui.ajax(url,{
//				type:'get',				
//				dataType:'json',
//				success:function(e){
//					console.log(e)
//					
//						document.querySelector('.article_tittle').innerHTML = e.data[0].title;
//						document.querySelector('.au_origin').innerHTML = e.data[0].come;
//						document.querySelector('.au_read>.num').innerHTML = e.data[0].number;
//						document.getElementById('content').innerHTML = e.data[0].content;
					
//					document.querySelector('.article_tittle').innerHTML = e.data.content.title;
//					document.querySelector('.au_origin').innerHTML = e.data.content.source;
//					document.querySelector('.au_read>.num').innerHTML = e.data.scanCount;
//					document.getElementById('content').innerHTML = e.data.content.body;
//					var tags=e.data.content.tags
//					console.log(tags.length)
////					//赞  收藏
//					hit.children[2].innerHTML = e.data.likeCount;
//					if(e.data.orNotLike) {
//						hit.classList.add('but_hot');
//						hit.children[1].innerHTML = '已赞';
//						flag = false;
//					}
//					if(e.data.orNotCollect) {
//						collect.classList.add('but_hot');
//						collect.children[1].innerHTML = '已收藏';
//						flag1 = false;
//					}
//				}
//		});
		
//		
//		mui.ajax({
//			url:'http://111.231.75.58:17790/content/likeContent',
//			type:'post',
//			data:{
//				  "apiTime": 1516783229,
//		          "apiVersion": "V0.1",
//		          "appId": 10010,
//		          "deviceId": 2,
//		          "signature": "",
//		          "udid": "F635D43C-0A8E-4F09-AA4E-73152CB3F504",
//		          "userId": 2,
//		          "contentId": "b2f7c221ad4142e2e03af1ab7f396c11",
//		          "contentType": "VIDEO"
//			},
//			headers:{
//				"Content-Type": "application/json;charset=UTF-8"
//			},
//			dataType:'json',
//			success:function(e){
//				console.log(e)
//			}
//		});
		

		</script>
	</body>

</html>




