<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/iconfont.css" rel="stylesheet" />
		<link href="../css/imgView.css" rel="stylesheet" />
		<link href="../css/detail.css" rel="stylesheet" />
		<style type="text/css">
			.mui-off-canvas-wrap .mui-bar{
				box-shadow: none;
			}
			#offCanvasContentScroll{
				top: 4.5rem;
			}
		</style>
	</head>

	<body>
		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav" style="background: none;color: #fff;">
					<a class="mui-action-back mui-icon iconfont mui-pull-left" style="color: #fff;">&#xe604;</a>
					<!--<h1 class="mui-title">详情页</h1>-->
					<a class="iconfont  mui-pull-right" href="#share" style="font-size: 0.45rem;color: #fff;padding: 0 0.1rem;">&#xe61b;</a>
				</header>
                <div class="videoBox">
					<div class="poster">
						<div class="top">分享至</div>
						<div class="bott">
							<div>
								<div class="shares" name="微信">
									<img src="../img/wechat.png" alt="" />
								</div>
								<span>微信</span>
							</div>
							<div>
								<div class="shares" name="QQ">
									<img src="../img/qq.png" alt="" />
								</div>
								<span>QQ</span>
							</div>
							<div>
								<div class="shares" name="朋友圈">
									<img src="../img/friendcircle.png" alt="" />
								</div>
								<span>朋友圈</span>
							</div>
							<div>
								<div class="shares" name="空间">
									<img src="../img/room.png" alt="" />
								</div>
								<span>QQ空间</span>
							</div>
						</div>
						<div class="footer">
							<div class="foo_left">
								<span class="iconfont" style="font-size: 0.3rem;">&#xe61a;</span>
								<span class="replay">重播</span>
							</div>
							<div class="foo_right">
								3.45
							</div>
						</div>
					</div>
					<video class="myvideo" controls="controls"  src="https://qiniu-video5.vmoviercdn.com/5a55ccee13b1a.mp4" poster="https://cs.vmovier.com/Uploads/cover/2018-01-10/5a55cbc871266_cut.jpeg@600w_400h_1e_1c.jpg" webkit-playsinline></video>
				</div>
				<div class="timg">
						<div class="timgBox">
							<img src="../img/zan.png" alt="" />
						</div>
					</div>
				<div id="offCanvasContentScroll" class="mui-scroll-wrapper mui-content" style="padding-top: 0;">
					
					<div class="mui-scroll ">
						<div class="article">

							<div class="article_tittle mv_tittle">
								那所勇敢捍卫过个尊严的香港学校，背景不太简单！
							</div>
							<div class="article_author">
								<!--<a href="javascript:;" class="us_photo">
									<img src="../img/4.jpg" alt="" />
								</a>-->
								<span class="au_origin">知乎</span>
								<div class="au_read">
									<span class="num">100</span>
									<span>次阅读</span>
								</div>
							</div>
							<div class="article_love">
								<div class="but" id="hit">
									<span class="mui-icon iconfont icon">&#xe60c;</span>
									<span class="pre">点赞</span>
									<span>666</span>
								</div>
								<div class="but" id="collect" style="transition: all .5s;">
									<span class="mui-icon iconfont icon">&#xe607;</span>
									<span>收藏</span>
								</div>
							</div>

							<div class="article_label">
								<div class="name">标签</div>
								<div class="reg">
									<button type="button">书籍</button>
									<button type="button">排版</button>
									<span id="inform">举报</span>
								</div>
							</div>
							<!--相关链接-->
							<ul class="recommend mui-list-unstyled" id="list">
								<li lid='3'>
									<!--<div class="three_imgs">
										<img src="../img/5.jpg" alt="" />
										<img src="../img/8.jpg" alt="" /> 
										<img src="../img/4.jpg" alt="" />
									</div>-->

									<div class="three_imgs">
										<div></div>
										<div></div>
										<div></div>
									</div>

									<div class="three_tit">
										<span>李小璐，说好的爱你永远，白首不分离，怎么说变就变</span>
									</div>
									<div class="correlation">
										<div class="pho">
											<!--<a href="javascript:;">
												<img src="../img/4.jpg" alt="" />
											</a>-->
											<span>小饭团Midy</span>
										</div>
										<div class="read">
											<span>365</span>
											<span>次阅读</span>
										</div>
									</div>
								</li>

								<li lid='1'>
									<div class="one_top">
										<div class="one_tit">
											<div class="font mui-ellipsis-2">李小璐，说好的爱你永远，白首不分离，怎么说变就变</div>
											<div class="correlation">
												<div class="pho">
													<!--<a href="javascript:;">
														<img src="../img/4.jpg" alt="" />
													</a>-->
													<span>小饭团Midy</span>
												</div>
												<div class="read">
													<span>365</span>
													<span>次阅读</span>
												</div>
											</div>
										</div>
										<div class="thurmd">
											<!--<img src="../img/4.jpg" alt="" />-->
										</div>
									</div>
								</li>
								
								
								<li lid='4'>
									<div class="one_top">
										<div class="one_tit">
											<div class="font mui-ellipsis-2">李小璐，说好的爱你永远，白首不分离，怎么说变就变</div>
											<div class="correlation">
												<div class="pho">
													<!--<a href="javascript:;">
														<img src="../img/4.jpg" alt="" />
													</a>-->
													<span>小饭团Midy</span>
												</div>
												<div class="read">
													<span>365</span>
													<span>次阅读</span>
												</div>
											</div>
										</div>
										<div class="thurmd">
											<div class="playTime">3.43</div>
											<!--<video class="myvideo" src="https://qiniu-video5.vmoviercdn.com/5a55ccee13b1a.mp4" poster="../img/5.jpg" webkit-playsinline></video>-->
										</div>
									</div>
								</li>
								<li lid='0'>
									<div class="three_tit">
										<span>李小璐，说好的爱你永远，白首不分离，怎么说变就变</span>
									</div>
									<div class="correlation">
										<div class="pho">
											<!--<a href="javascript:;">
												<img src="../img/4.jpg" alt="" />
											</a>-->
											<span>小饭团Midy</span>
										</div>
										<div class="read">
											<span>365</span>
											<span>次阅读</span>
										</div>
									</div>
								</li>

								<li lid="4" class="video">
									<div class="videoBox">
										<div class="poster">
											<div class="top">分享至</div>
											<div class="bott">
												<div>
													<div class="shares" name="微信">
														<img src="../img/wechat.png" alt="" />
													</div>
													<span>微信</span>
												</div>
												<div>
													<div class="shares" name="QQ">
														<img src="../img/qq.png" alt="" />
													</div>
													<span>QQ</span>
												</div>
												<div>
													<div class="shares" name="朋友圈">
														<img src="../img/friendcircle.png" alt="" />
													</div>
													<span>朋友圈</span>
												</div>
												<div>
													<div class="shares" name="空间">
														<img src="../img/room.png" alt="" />
													</div>
													<span>QQ空间</span>
												</div>
											</div>
											<div class="footer">
												<div class="foo_left">
													<span class="iconfont" style="font-size: 0.3rem;">&#xe61a;</span>
													<span class="replay">重播</span>
												</div>
												<div class="foo_right">
													3.45
												</div>
											</div>
										</div>
										<video class="myvideo" controls src="https://qiniu-video5.vmoviercdn.com/5a55ccee13b1a.mp4" poster="../img/5.jpg" webkit-playsinline></video>
									</div>
									<div class="three_tit">
										<span>周董为你倾情演绎甜蜜爱情——告白气球</span>
									</div>
									<div class="correlation">
										<div class="pho">
											<!--<a href="javascript:;">
												<img src="../img/4.jpg" alt="" />
											</a>-->
											<span>小饭团Midy</span>
										</div>
										<div class="read">
											<span>365</span>
											<span>次阅读</span>
										</div>
									</div>
								</li>
							</ul>

							<div class="remark">
								<div class="hotRemark">热门评论</div>
								<ul class="remarkList mui-list-unstyled hotRemarkList">
									<li>
										<div class="listLeft">
											<div>
												<img src="../img/4.jpg" alt="" />
											</div>
										</div>
										<div class="ListRight">
											<div class="ListRightTop">
												<div class="user">路人甲</div>
												<div class="remarkHit" flag='true'>
													<span class="iconfont">&#xe60c;</span>
													<span>326</span>
												</div>
											</div>
											<div class="remarkCon">
												阿斯顿法国红酒节快乐阿斯顿法国红酒节快乐阿斯顿法国红
											</div>
											<div class="ListRightBot">
												<div class="pubdate">
													<span>20</span>
													<span>分钟前</span>
												</div>
												<div class="replyNum">
													<span>10</span>
													<span>回复</span>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="listLeft">
											<div>
												<img src="../img/3.jpg" alt="" />
											</div>
										</div>
										<div class="ListRight">
											<div class="ListRightTop">
												<div class="user">路人甲</div>
												<div class="remarkHit" flag='true'>
													<span class="iconfont">&#xe60c;</span>
													<span>325</span>
												</div>
											</div>
											<div class="remarkCon">
												阿斯顿法国红酒节快乐阿斯顿法国红酒节快乐阿斯顿法国红
											</div>
											<div class="ListRightBot">
												<div class="pubdate">
													<span>20</span>
													<span>分钟前</span>
												</div>
												<div class="replyNum">
													<span>10</span>
													<span>回复</span>
												</div>
											</div>
										</div>
									</li>
								</ul>
								
								<div class="hotRemark">最新评论</div>
								<ul class="remarkList mui-list-unstyled newRemarkList" id="newRemarkList">
									<li>
										<div class="listLeft">
											<div>
												<img src="../img/4.jpg" alt="" />
											</div>
										</div>
										<div class="ListRight">
											<div class="ListRightTop">
												<div class="user">路人甲</div>
												<div class="remarkHit" flag='true'>
													<span class="iconfont">&#xe60c;</span>
													<span>321</span>
												</div>
											</div>
											<div class="remarkCon">
												阿斯顿法国红酒节快乐阿斯顿法国红酒节快乐阿斯顿法国红快乐阿斯顿法国红快乐阿斯顿法国红
											</div>
											<div class="ListRightBot">
												<div class="pubdate">
													<span>20</span>
													<span>分钟前</span>
												</div>
												<div class="replyNum">
													<span>10</span>
													<span>回复</span>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="listLeft">
											<div>
												<img src="../img/3.jpg" alt="" />
											</div>
										</div>
										<div class="ListRight">
											<div class="ListRightTop">
												<div class="user">路人甲</div>
												<div class="remarkHit"	flag='true'>
													<span class="iconfont">&#xe60c;</span>
													<span>322</span>
												</div>
											</div>
											<div class="remarkCon">
												阿斯顿法国红酒节快乐阿斯顿法国红酒节快乐阿斯顿法国红
											</div>
											<div class="ListRightBot">
												<div>
													<span>20</span>
													<span>分钟前</span>
												</div>
												<div>
													<span>10</span>
													<span>回复</span>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>

							
							
							<div style="height:0.01rem; width: 100%;"></div>
						</div>
					</div>
				</div>
 				
				<!--底部分享-->
				<div class="tab_share" id="tab_share">
					<div class="shar_left" id="shar_left">
						<input type="text" name="remarkCon" id="" value="写评论..." placeholder="" />
						<span class="mui-icon mui-icon-compose" id="inHit"></span>

					</div>
					<div class="shar_right">
						<div class="mui-icon mui-icon-chatbubble"></div>
						<div class="mui-icon mui-icon-star botColl"></div>
						<div>
							<a href="#share" class="mui-icon mui-icon-refreshempty"></a>
						</div>
					</div>
				</div>
			
				<div class="tab_share_search" id="tab_share_search">
					<div class="shar_left" id="shar_left">
						<input type="text" name="remarkCon" id="remarkCon" placeholder="优质评论将会被优先展示" autofocus/>
					</div>
					<div class="shar_right" id="shar_right">
						发布
					</div>
				</div>
			
			</div>

		</div>

		</div>
		<!--分享-->
		<div id="share" class="mui-popover mui-popover-action mui-popover-bottom">
			<div class="mui-table-view aa mui-table-view-cell">
				<div class="top">分享至</div>
				<div class="bott">
					<div>
						<div class="shares" name="微信">
							<img src="../img/wechat.png" alt="" />
						</div>
						<span>微信</span>
					</div>
					<div>
						<div class="shares" name="QQ">
							<img src="../img/qq.png" alt="" />
						</div>
						<span>QQ</span>
					</div>
					<div>
						<div class="shares" name="朋友圈">
							<img src="../img/friendcircle.png" alt="" />
						</div>
						<span>朋友圈</span>
					</div>
					<div>
						<div class="shares" name="空间">
							<img src="../img/room.png" alt="" />
						</div>
						<span>QQ空间</span>
					</div>
				</div>
			</div>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a href="#forward"><b>取消</b></a>
				</li>
			</ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/rem.js"></script>
		<script src="../js/mui.zoom.js"></script>
		<script src="../js/detail.js"></script>
		<script type="text/javascript">
			mui.init();
			
			
			var flag = true,
				flag1 = true,
				flag2 = true;

			var hit = document.getElementById('hit');
			var collect = document.getElementById('collect');

			//内容加载
//			mui.ajax({
//				url: 'http://111.231.75.58:17790/content/getContentDetail?apiVersion=V0.1&apiTime=1517279685164&appId=10010&userId=1&udid=F635D43C-0A8E-4F09-AA4E-73152CB3F504&deviceId=2&contentId=3c1716700d4f428e490439cb7263d09e',
//				dataType: 'json',
//				type: 'get',
//				success: function(e) { 
//					console.log(e.data);   
//				}
//			});

		</script>
	</body>

</html>