<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../css/detail.css" />
	</head>
	<style>
		.mui-bar-nav {
			box-shadow: none;
			border-bottom: 0.01rem solid #F2F2F2;
			line-height: 0.88rem;
		}
		
		.mui-bar-nav .mui-icon {
			font-size: 0.7rem;
			margin-top: 0.1rem;
			padding: 0;
		}   
		   
		.mui-content {
			position: absolute;
			width: 100%;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			/* 解决ios滑动不流畅问题 */
			padding: 0 0.3rem;
			background: #fff;
			padding-bottom: 0.98rem;
		}
		
		.tab_share .shar_left_reply {
			width: 70%;
		}
		
		.tab_share .shar_right_reply {
			width: 30%;
		}
		
		.tab_share .shar_right_reply div {
			float: left;
			width: 50%;
			text-align: center;
		}
		
		.rplayCon {
			width: 100%;
		}
		
		.remarkList li:last-child {
			border-bottom: none;
		}
		
		.bottRemark .tab_share .botHIt{
			color: red;
		}
	</style>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-closeempty"></a>
			<h1 class="mui-title">	<span></span>回复</h1>
		</header>

		<div class="mui-content">
			<ul class="remarkList mui-list-unstyled newRemarkList" id="newRemarkList" style="border-bottom: 0.01rem solid #F2F2F2;">
				<li>
					<div class="listLeft">
						<div>
							<img src="../img/4.jpg" alt="" />
						</div>
					</div>
					<div class="ListRight">
						<div class="ListRightTop">
							<div class="user">路人甲</div>
							<div class="remarkHit" flag='true' id="remarkHit">
								<span class="iconfont">&#xe60c;</span>
								<span>321</span>
							</div>
						</div>
						<div class="remarkCon">
							阿斯顿法国红酒节快乐阿斯顿法国红酒节快乐阿斯顿法国红快乐阿斯顿法国红快乐阿斯顿法国红
						</div>

						<div class="ListRightBot">
							<div class="pubdate">
								<span>20</span>
								<span>分钟前</span>
							</div>
						</div>
					</div>
				</li>
			</ul>

			<div style="margin: 0.2rem 0;" id="box">全部回复</div>

			<ul class="mui-list-unstyled rplayCon remarkList" id="remarkList">
				<li>
					<div class="listLeft">
						<div>
							<img src="../img/4.jpg" alt="" />
						</div>
					</div>
					<div class="ListRight">
						<div class="ListRightTop">
							<div class="user">路人甲</div>
							<div class="remarkHit" flag='true'>
								<span class="iconfont">&#xe60c;</span>
								<span>321</span>
							</div>
						</div>
						<div class="remarkCon">
							阿斯顿法国红酒节快乐阿斯阿斯顿法国红
						</div>

						<div class="ListRightBot">
							<div class="pubdate">
								<span>20</span>
								<span>分钟前</span>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="listLeft">
						<div>
							<img src="../img/4.jpg" alt="" />
						</div>
					</div>
					<div class="ListRight">
						<div class="ListRightTop">
							<div class="user">路人甲</div>
							<div class="remarkHit" flag='true'>
								<span class="iconfont">&#xe60c;</span>
								<span>321</span>
							</div>
						</div>
						<div class="remarkCon">
							阿斯国红
						</div>

						<div class="ListRightBot">
							<div class="pubdate">
								<span>20</span>
								<span>分钟前</span>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="listLeft">
						<div>
							<img src="../img/4.jpg" alt="" />
						</div>
					</div>
					<div class="ListRight">
						<div class="ListRightTop">
							<div class="user">路人甲</div>
							<div class="remarkHit" flag='true'>
								<span class="iconfont">&#xe60c;</span>
								<span>321</span>
							</div>
						</div>
						<div class="remarkCon">
							阿斯顿法国红酒节快乐阿斯顿法国红酒节快乐阿斯顿
						</div>

						<div class="ListRightBot">
							<div class="pubdate">
								<span>20</span>
								<span>分钟前</span>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="listLeft">
						<div>
							<img src="../img/4.jpg" alt="" />
						</div>
					</div>
					<div class="ListRight">
						<div class="ListRightTop">
							<div class="user">路人甲</div>
							<div class="remarkHit" flag='true'>
								<span class="iconfont">&#xe60c;</span>
								<span>321</span>
							</div>
						</div>
						<div class="remarkCon">
							阿斯顿法国红酒节
						</div>

						<div class="ListRightBot">
							<div class="pubdate">
								<span>20</span>
								<span>分钟前</span>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="listLeft">
						<div>
							<img src="../img/4.jpg" alt="" />
						</div>
					</div>
					<div class="ListRight">
						<div class="ListRightTop">
							<div class="user">路人甲</div>
							<div class="remarkHit" flag='true'>
								<span class="iconfont">&#xe60c;</span>
								<span>321</span>
							</div>
						</div>
						<div class="remarkCon">
							阿斯顿法
						</div>

						<div class="ListRightBot">
							<div class="pubdate">
								<span>20</span>
								<span>分钟前</span>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="bottRemark">
			<!--底部分享-->
			<div class="tab_share" id="tab_share">
				<div class="shar_left shar_left_reply" id="shar_left">
					<input type="text" name="remarkCon" id="" value="写评论..." placeholder="" />
					<span class="iconfont" id="inHit">&#xe61f;</span>
				</div>
				<div class="shar_right shar_right_reply" id="botShar">
					<div class="iconfont" id="bottHit">&#xe60c;</div>
					<div>
						<a href="#share" class="iconfont" id="botShar" style="color: #333;">&#xe61e;</a>
					</div>
				</div>

			</div>

			<div class="tab_share_search" id="tab_share_search">
				<div class="shar_left" id="shar_left">
					<input type="text" name="remarkCon" id="remarkCon" placeholder="优质评论将会被优先展示" autofocus/>
				</div>
				<div class="shar_right" id="shar_right">
					发布
				</div>
			</div>
		</div>

		<!--分享-->
		<div id="share" class="mui-popover mui-popover-action mui-popover-bottom">
			<div class="mui-table-view aa mui-table-view-cell">
				<div class="top">分享至</div>
				<div class="bott">
					<div>
						<div class="shares" name="weChat">
							<img src="http://yun.janesi.net/web-test/zhiqu-web/img/wechat.png" alt="" />
						</div>
						<span>微信</span>
					</div>
					<div>
						<div class="shares" name="QQ">
							<img src="http://yun.janesi.net/web-test/zhiqu-web/img/qq.png" alt="" />
						</div>
						<span>QQ</span>
					</div>
					<div>
						<div class="shares" name="friendCicle">
							<img src="http://yun.janesi.net/web-test/zhiqu-web/img/friendcircle.png" alt="" />
						</div>
						<span>朋友圈</span>
					</div>
					<div>
						<div class="shares" name="qqZone">
							<img src="http://yun.janesi.net/web-test/zhiqu-web/img/room.png" alt="" />
						</div>
						<span>QQ空间</span>
					</div>
				</div>
			</div>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a href="#forward"><b>取消</b></a>
				</li>
			</ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/rem.js"></script>
		<script src="../js/mui.zoom.js"></script>
		<script type="text/javascript">
			mui.init()

			
			var flag1=true;
			
			//	ios调用底部分享
			function tapShare(){
				mui('#share').popover('toggle')
			}

			mui.plusReady(
				//	底部留言
				document.getElementById('shar_left').addEventListener('tap', function() {
					document.getElementById('tab_share').style.display = 'none';
					document.getElementById('tab_share_search').style.display = 'block';

				}),

				//	发布评论
				document.getElementById('shar_right').addEventListener('tap', function() {
					var val = document.getElementById('remarkCon').value
					if(val) {
						document.getElementById('remarkCon').value = '';
						document.getElementById('tab_share').style.display = 'block';
						document.getElementById('tab_share_search').style.display = 'none';
						var chil = document.getElementById('remarkList');
						var li = document.createElement('li');
						li.innerHTML = `
			 		<div class="listLeft">
												<div>
													<img src="../img/4.jpg" alt="" />
												</div>
											</div>
											<div class="ListRight">
												<div class="ListRightTop">
													<div class="user">路人甲</div>
													<div class="remarkHit" flag='true'>
														<span class="iconfont">&#xe60c;</span>
														<span>0</span>
													</div>
												</div>
												<div class="remarkCon">
													${val}
												</div>
												<div class="ListRightBot">
													<div class="pubdate">
														<span></span>
														<span>刚刚</span>
													</div>
												</div>
											</div>
			`;
						chil.insertBefore(li, chil.children[0]);
					}

				}),
				//	评论点赞
				mui('.remarkList').on('tap', '.remarkHit', function(e) {
					var num = parseInt(this.children[1].innerHTML);
					this.classList.toggle('remarkHitHot');
					var flag = eval(this.getAttribute('flag'));
					e.preventDefault();

					if(flag) {
						//			mui.ajax({
						//				url: '',
						//				type: '',
						//				dataType: '',
						//				success: function(e) {
						//					if(e) {
						//
						//					}
						//				}
						//			});
						this.children[1].innerHTML = num + 1;
						this.setAttribute('flag', false)
					} else {
						//			mui.ajax({
						//				url: '',
						//				type: '',
						//				dataType: '',
						//				success: function(e) {
						//					if(e) {
						//
						//					}
						//				}
						//			});
						this.children[1].innerHTML = num - 1;
						this.setAttribute('flag', true)
					}
				}),
				//分享底部弹窗
				mui('body').on('tap', '.mui-popover-action li>a', function() {
					var a = this,
						parent;
					//根据点击按钮，反推当前是哪个actionsheet
					for(parent = a.parentNode; parent != document.body; parent = parent.parentNode) {
						if(parent.classList.contains('mui-popover-action')) {
							break;
						}
					}
					//关闭actionsheet   
					mui('#' + parent.id).popover('toggle');
				}),
				//发送分享目的地
				mui('.bott').on('tap', '.shares', function() {
					var attr = this.getAttribute('name');
					//通知分享
					window.webkit.messageHandlers.iOSShare.postMessage(attr);
			
				}),
				document.getElementById('bottHit').addEventListener('tap',function(){
					this.classList.toggle('botHIt');
					var hit=document.getElementById('remarkHit');
					var num = parseInt(hit.children[1].innerHTML);
					hit.classList.toggle('remarkHitHot');
					if(flag1){
						hit.children[1].innerHTML=num+1;
						flag1=!flag1;
					}else{
						hit.children[1].innerHTML=num-1;
						flag1=!flag1;
					}
					
				})
			)
		</script>
	</body>

</html>