<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/iconfont.css" rel="stylesheet" />
		<link href="../css/imgView.css" rel="stylesheet" />
		<link href="../css/detail.css" rel="stylesheet" />

	</head>

	<body>
		<div class="article" id="article">
			<div class="article_tittle">
				那所勇敢捍卫过个尊严的香港学校，背景不太简单！
			</div>
			<div class="article_author">
				<!--<a href="javascript:;" class="us_photo">
					<img src="../img/4.jpg" alt="" />
				</a>-->
				<span class="au_origin">知乎</span>
				<div class="au_read">
					<span class="num">100</span>
					<span>次阅读</span>
				</div>
			</div>

			<div class="article_content" id="content">

			</div>

			<div class="article_love">
				<div class="but" id="hit">
					<span class="mui-icon iconfont icon">&#xe60c;</span>
					<span class="pre">点赞</span>
					<span>666</span>
				</div>
				<div class="but" id="collect" style="transition: all .5s;">
					<span class="mui-icon iconfont icon">&#xe607;</span>
					<span>收藏</span>
				</div>
			</div>

			<div class="article_label">
				<div class="name">标签</div>
				<div class="reg">
					<button type="button">书籍</button>
					<button type="button">排版</button>
					<span id="inform">举报</span>
				</div>
			</div>
			<!--相关链接-->
			<ul class="recommend mui-list-unstyled" id="list">
				<li lid='0'>
					<div class="three_tit">
						<span>李小璐，说好的爱你永远，白首不分离，怎么说变就变</span>
					</div>
					<div class="three_imgs">
						<div></div>
						<div></div>
						<div></div>
					</div>

					<div class="correlation">
						<div class="pho">
							<a href="javascript:;">
								<img src="../img/4.jpg" alt="" />
							</a>
							<span>小饭团Midy</span>
						</div>
						<div class="read">
							<span>365</span>
							<span>次阅读</span>
						</div>
					</div>
				</li>

				<li lid='1'>
					<div class="one_top">
						<div class="one_tit">
							<div class="font mui-ellipsis-2">李小璐，说好sdsdsdsdsds都是大神多所多所</div>
							<div class="correlation">
								<div class="pho">
									<a href="javascript:;">
										<img src="../img/4.jpg" alt="" />
									</a>
									<span>小饭团Midy</span>
								</div>
								<div class="read">
									<span>365</span>
									<span>次阅读</span>
								</div>
							</div>
						</div>
						<div class="thurmd">
							<!--<img src="../img/4.jpg" alt="" />-->
						</div>
					</div>
				</li>

				<li lid='2'>
					<div class="three_tit">
						<span>李小璐，说好的爱你永远，白首不分离，怎么说变就变</span>
					</div>
					<div class="correlation">
						<div class="pho">
							<a href="javascript:;">
								<img src="../img/4.jpg" alt="" />
							</a>
							<span>小饭团Midy</span>
						</div>
						<div class="read">
							<span>365</span>
							<span>次阅读</span>
						</div>
					</div>
				</li>

				<li lid="3" class="video">
					<div class="three_tit">
						<span>周董为你倾情演绎甜蜜爱情——告白气球</span>
					</div>
					<div class="videoBox">
						<div class="poster">
							<div class="top">分享至</div>
							<div class="bott">
								<div>
									<div class="shares" name="微信">
										<img src="../img/wechat.png" alt="" />
									</div>
									<span>微信</span>
								</div>
								<div>
									<div class="shares" name="QQ">
										<img src="../img/qq.png" alt="" />
									</div>
									<span>QQ</span>
								</div>
								<div>
									<div class="shares" name="朋友圈">
										<img src="../img/friendcircle.png" alt="" />
									</div>
									<span>朋友圈</span>
								</div>
								<div>
									<div class="shares" name="空间">
										<img src="../img/room.png" alt="" />
									</div>
									<span>QQ空间</span>
								</div>
							</div>
							<div class="footer">
								<div class="foo_left">
									<span class="iconfont" style="font-size: 0.3rem;">&#xe61a;</span>
									<span class="replay">重播</span>
								</div>
								<div class="foo_right">
									3.45
								</div>
							</div>
						</div>
						<video class="myvideo" controls src="" poster="../img/5.jpg" webkit-playsinline></video>
					</div>

					<div class="correlation">
						<div class="pho">
							<a href="javascript:;">
								<img src="../img/4.jpg" alt="" />
							</a>
							<span>小饭团Midy</span>
						</div>
						<div class="read">
							<span>365</span>
							<span>次阅读</span>
						</div>
					</div>
				</li>
			</ul>

			<div class="remark" id="remark">
				<div class="hotRemark">热门评论</div>
				<ul class="remarkList mui-list-unstyled hotRemarkList">
					<li>
						<div class="listLeft">
							<div>
								<img src="../img/4.jpg" alt="" />
							</div>
						</div>
						<div class="ListRight">
							<div class="ListRightTop">
								<div class="user">路人甲</div>
								<div class="remarkHit" flag='true'>
									<span class="iconfont">&#xe60c;</span>
									<span>326</span>
								</div>
							</div>
							<div class="remarkCon">
								阿斯顿法国红酒节快乐阿斯顿法国红酒节快乐阿斯顿法国红
							</div>
							<div class="ListRightBot">
								<div class="pubdate">
									<span>20</span>
									<span>分钟前</span>
								</div>
								<div class="replyNum">
									<span>10</span>
									<span>回复</span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="listLeft">
							<div>
								<img src="../img/3.jpg" alt="" />
							</div>
						</div>
						<div class="ListRight">
							<div class="ListRightTop">
								<div class="user">路人甲</div>
								<div class="remarkHit" flag='true'>
									<span class="iconfont">&#xe60c;</span>
									<span>325</span>
								</div>
							</div>
							<div class="remarkCon">
								阿斯顿法国红酒节快乐阿斯顿法国红酒节快乐阿斯顿法国红
							</div>
							<div class="ListRightBot">
								<div class="pubdate">
									<span>20</span>
									<span>分钟前</span>
								</div>
								<div class="replyNum">
									<span>10</span>
									<span>回复</span>
								</div>
							</div>
						</div>
					</li>
				</ul>

				<div class="hotRemark">最新评论</div>
				<ul class="remarkList mui-list-unstyled newRemarkList" id="newRemarkList">
					<li>
						<div class="listLeft">
							<div>
								<img src="../img/4.jpg" alt="" />
							</div>
						</div>
						<div class="ListRight">
							<div class="ListRightTop">
								<div class="user">路人甲</div>
								<div class="remarkHit" flag='true'>
									<span class="iconfont">&#xe60c;</span>
									<span>321</span>
								</div>
							</div>
							<div class="remarkCon">
								阿斯顿法国红酒节快乐阿斯顿法国红酒节快乐阿斯顿法国红快乐阿斯顿法国红快乐阿斯顿法国红
							</div>
							<div class="ListRightBot">
								<div class="pubdate">
									<span>20</span>
									<span>分钟前</span>
								</div>
								<div class="replyNum">
									<span>10</span>
									<span>回复</span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="listLeft">
							<div>
								<img src="../img/3.jpg" alt="" />
							</div>
						</div>
						<div class="ListRight">
							<div class="ListRightTop">
								<div class="user">路人甲</div>
								<div class="remarkHit" flag='true'>
									<span class="iconfont">&#xe60c;</span>
									<span>322</span>
								</div>
							</div>
							<div class="remarkCon">
								阿斯顿法国红酒节快乐阿斯顿法国红酒节快乐阿斯顿法国红
							</div>
							<div class="ListRightBot">
								<div>
									<span>20</span>
									<span>分钟前</span>
								</div>
								<div class="replyNum">
									<span>10</span>
									<span>回复</span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="listLeft">
							<div>
								<img src="../img/3.jpg" alt="" />
							</div>
						</div>
						<div class="ListRight">
							<div class="ListRightTop">
								<div class="user">路人甲</div>
								<div class="remarkHit" flag='true'>
									<span class="iconfont">&#xe60c;</span>
									<span>322</span>
								</div>
							</div>
							<div class="remarkCon">
								阿斯顿法国红酒节快乐阿斯顿法国红酒节快乐阿斯顿法国红
							</div>
							<div class="ListRightBot">
								<div>
									<span>20</span>
									<span>分钟前</span>
								</div>
								<div class="replyNum">
									<span>10</span>
									<span>回复</span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="listLeft">
							<div>
								<img src="../img/3.jpg" alt="" />
							</div>
						</div>
						<div class="ListRight">
							<div class="ListRightTop">
								<div class="user">路人甲</div>
								<div class="remarkHit" flag='true'>
									<span class="iconfont">&#xe60c;</span>
									<span>322</span>
								</div>
							</div>
							<div class="remarkCon">
								阿斯顿法国红酒节快乐阿斯顿法国红酒节快乐阿斯顿法国红
							</div>
							<div class="ListRightBot">
								<div>
									<span>20</span>
									<span>分钟前</span>
								</div>
								<div class="replyNum">
									<span>10</span>
									<span>回复</span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="listLeft">
							<div>
								<img src="../img/3.jpg" alt="" />
							</div>
						</div>
						<div class="ListRight">
							<div class="ListRightTop">
								<div class="user">路人甲</div>
								<div class="remarkHit" flag='true'>
									<span class="iconfont">&#xe60c;</span>
									<span>322</span>
								</div>
							</div>
							<div class="remarkCon">
								阿斯顿法国红酒节快乐阿斯顿法国红酒节快乐阿斯顿法国红
							</div>
							<div class="ListRightBot">
								<div>
									<span>20</span>
									<span>分钟前</span>
								</div>
								<div class="replyNum">
									<span>10</span>
									<span>回复</span>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div style="height:0.98rem; width: 100%;"></div>

		</div>

		<!--底部评论-->
		<div class="bottRemark">
			<div class="tab_share" id="tab_share">
				<div class="shar_left" id="shar_left">
					<input type="text" name="remarkCon" id="" value="写评论..." placeholder="" />
					<span class="iconfont" id="inHit">&#xe61f;</span>
				</div>
				<div class="shar_right">
					<div class="iconfont botRek">
						&#xe619;
						<span class="remarkNum">2</span>
					</div>
					<div class="iconfont botColl" id="botColl">&#xe61c;</div>
					<div class="botShar">
						<a href="#share" class="iconfont">&#xe61e;</a>
					</div>
				</div>
			</div>

			<div class="tab_share_search" id="tab_share_search">
				<div class="shar_left" id="shar_left">
					<input type="text" name="remarkCon" id="remarkCon" placeholder="优质评论将会被优先展示" autofocus/> 
				</div>
				<div class="shar_right" id="shar_right">
					发布
				</div>
			</div>
		</div>

		<!--分享-->
		<div id="share" class="mui-popover mui-popover-action mui-popover-bottom">
			<div class="mui-table-view aa mui-table-view-cell">
				<div class="top">分享至</div>
				<div class="bott">
					<div>
						<div class="shares" name="微信">
							<img src="../img/wechat.png" alt="" />
						</div>
						<span>微信</span>
					</div>
					<div>
						<div class="shares" name="QQ">
							<img src="../img/qq.png" alt="" />
						</div>
						<span>QQ</span>
					</div>
					<div>
						<div class="shares" name="朋友圈">
							<img src="../img/friendcircle.png" alt="" />
						</div>
						<span>朋友圈</span>
					</div>
					<div>
						<div class="shares" name="空间">
							<img src="../img/room.png" alt="" />
						</div>
						<span>QQ空间</span>
					</div>
				</div>
			</div>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a href="#forward"><b>取消</b></a>
				</li>
			</ul>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/rem.js"></script>
		<script src="../js/mui.zoom.js"></script>
		<script src="../js/mui.previewimage.js"></script>
		<script src="../js/jquery.min.js"></script>
		<script type="text/javascript">
			mui.previewImage(); //启动图片快捷查看

			mui.init({
				//				swipeBack: true //启用右滑关闭功能 
			});

			var flag = true,
				flag1 = true,
				flag2 = true,
				flag3 = true,
				timer = null;

			window.onload = function() {

			}

			var hit = document.getElementById('hit');
			var collect = document.getElementById('collect');

			//内容加载
			mui.ajax({
				url: 'https://mock.mmcai.cn/mock/5a530bdd2b68750fbe1ac4eb/index/listDetail',
				dataType: 'json',
				type: 'get',
				success: function(e) {
					document.querySelector('.article_tittle').innerHTML = e.data[0].title;
					document.querySelector('.au_origin').innerHTML = e.data[0].come;
					document.querySelector('.au_read>.num').innerHTML = e.data[0].number;
					document.getElementById('content').innerHTML = e.data[0].content;

					hit.children[2].innerHTML = e.data[0].zan;
					if(e.data[0].hit) {
						hit.classList.add('but_hot');
						hit.children[1].innerHTML = '已赞';
						flag = false;
					}
					if(e.data[0].collect) {
						collect.classList.add('but_hot');
						collect.children[1].innerHTML = '已收藏';
						flag1 = false;
					}
					//					var aa=document.querySelector('.mui-content')
					//         		 	alert(aa.offsetHeight) 
				}
			});

			var media = document.querySelector('.myvideo');
			setInterval(function() {
				if(media.ended) {
					document.querySelector('.poster').style.display = "block";
				}
			}, 1);

			//点赞   收藏

			mui.plusReady(
				hit.addEventListener('tap', function() {
					this.classList.toggle('but_hot');
					var num = parseInt(this.children[2].innerHTML);
					if(flag) {
						if(num > 999) {
							this.children[2].innerHTML = num + "(+)";
						} else {
							this.children[2].innerHTML = num + 1;
							this.children[1].innerHTML = '已赞';
						}
						flag = !flag;
					} else {
						this.children[2].innerHTML = num - 1;
						this.children[1].innerHTML = '点赞';
						flag = !flag;
					}

				}),
				collect.addEventListener('tap', function() {
					this.classList.toggle('but_hot');
					if(flag1) {
						this.children[1].innerHTML = '已收藏';
						setTimeout(function() {
							mui.toast("收藏成功!")
						}, 500)
						flag = !flag;
					} else {
						this.children[1].innerHTML = '收藏';
						setTimeout(function() {
							mui.toast("已取消收藏!")
						}, 500)
						flag = !flag;
					}

				}),

				//举报
				document.getElementById('inform').addEventListener('tap', function() {
					//					var iden="举报";
					//					alert(iden);
					mui.openWindow({
						url: 'report.html'
					})
					//					var inform = plus.ios.importClass("NSNotificationCenter");
					//					inform.defaultCenter().postNotificationNameobject("举报", null);
				}),

				//文章列表
				mui('.mui-list-unstyled').on('tap', 'li', function() {
					var lid = this.getAttribute('lid');
					//					alert(lid)
				}),

				mui('.article_content').on('tap', 'img', function() {
					this.setAttribute('data-preview-src', '')
					this.setAttribute('data-preview-group', '1')
				}),

				document.querySelector('.replay').addEventListener('tap', function() {
					document.querySelector('.poster').style.display = "none";
					media.play();

				}),
				document.querySelector('.video').addEventListener('tap', function() {
					mui.openWindow({
						url: 'newMv.html'
					})

				}),

				//	评论点赞
				mui('.remarkList').on('tap', '.remarkHit', function(e) {
					var num = parseInt(this.children[1].innerHTML);
					this.classList.toggle('remarkHitHot');
					var flag = eval(this.getAttribute('flag'));
					e.preventDefault();

					if(flag) {
						//			mui.ajax({
						//				url: '',
						//				type: '',
						//				dataType: '',
						//				success: function(e) {
						//					if(e) {
						//
						//					}
						//				}
						//			});
						this.children[1].innerHTML = num + 1;
						this.setAttribute('flag', false)
					} else {
						//			mui.ajax({
						//				url: '',
						//				type: '',
						//				dataType: '',
						//				success: function(e) {
						//					if(e) {
						//
						//					}
						//				}
						//			});
						this.children[1].innerHTML = num - 1;
						this.setAttribute('flag', true)
					}
				}),
				mui('.remarkList').on('tap', '.replyNum', function() {
					location.href = 'replay.html'
				}),
				//	底部留言
				document.getElementById('shar_left').addEventListener('tap', function() {
//					document.getElementById('tab_share_search').setAttribute('autofocus','autofocus'); 
					
					document.getElementById('tab_share').style.display = 'none';
					document.getElementById('tab_share_search').style.display = 'block';


				}),

				//	发布评论
				document.getElementById('shar_right').addEventListener('tap', function() {
					var val = document.getElementById('remarkCon').value
					document.getElementById('tab_share').style.display = 'block';
						document.getElementById('tab_share_search').style.display = 'none';
					if(val) {
						document.getElementById('remarkCon').value = '';
						
						var chil = document.getElementById('newRemarkList');
						var li = document.createElement('li');
						li.innerHTML = `
			 		<div class="listLeft">
												<div>
													<img src="../img/4.jpg" alt="" />
												</div>
											</div>
											<div class="ListRight">
												<div class="ListRightTop">
													<div class="user">路人甲</div>
													<div class="remarkHit" flag='true'>
														<span class="iconfont">&#xe60c;</span>
														<span>0</span>
													</div>
												</div>
												<div class="remarkCon">
													${val}
												</div>
												<div class="ListRightBot">
													<div class="pubdate">
														<span></span>
														<span>刚刚</span>
													</div>
													<div class="replyNum">
														<span></span>
														<span>回复</span>
													</div>
												</div>
											</div>
			`;
						chil.insertBefore(li, chil.children[0]);
					}

				}),
				//底部收藏
				mui('.shar_right').on('tap', '.botColl', function() {
					this.classList.toggle('botCollHot')
					var bot=document.getElementById('botColl')
					if(flag2) {
						//			mui.ajax({
						//				url: '',
						//				type: '',
						//				dataType: '',
						//				success: function(e) {
						//					if(e) {
						//
						//					}
						//				}
						//			});
						flag2 = !flag2;
						bot.innerHTML='&#xe620;'
					} else {
						//			mui.ajax({
						//				url: '',
						//				type: '',
						//				dataType: '',
						//				success: function(e) {
						//					if(e) {
						//
						//					}
						//				}
						//			});
						flag2 = !flag2;
						bot.innerHTML='&#xe61c;'
					}
				}),

				//分享底部弹窗
				mui('body').on('tap', '.mui-popover-action li>a', function() { 
					var a = this,
						parent;
					//根据点击按钮，反推当前是哪个actionsheet
					for(parent = a.parentNode; parent != document.body; parent = parent.parentNode) {
						if(parent.classList.contains('mui-popover-action')) {
							break;
						}
					}
					//关闭actionsheet
					mui('#' + parent.id).popover('toggle');
				}),
				//底部评论提示
				mui('.shar_right').on('tap', '.botRek', function() {

					var top=document.getElementById('remark').offsetTop;
					if(flag3){
						$('#article').animate({'scrollTop':top})
						flag3=!flag3;
					}else{
						$('#article').animate({'scrollTop':0})
						flag3=!flag3;
					}

					
				})

			)
		</script>
	</body>

</html>