<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name='apple-itunes-app' content='app-id=1332557222'>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/iconfont.css" rel="stylesheet" />
		<link href="../css/imgView.css" rel="stylesheet" />
		<link href="../css/detail.css" rel="stylesheet" />
		<style>
			iframe{
				position: absolute;
				top: 1rem;
				left: 50%;
				transform: translateX(-50%);
				z-index: 88888;
				background: red;
			}
		</style>
	</head>

	<body>
		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav link">
					<div class="img_box"><img src="../img/appLogo.jpg" alt="" /></div>
					<div class="tit">知趣</div>
					<div class="open">
						<a href="https://itunes.apple.com/cn/app/id1332557222" id="openApp">打开</a>
					</div>
				</header>
				<div class="timg">
					<div class="timgBox">
						<img src="../img/zan.png" alt="" />
					</div>
				</div>
				<div id="offCanvasContentScroll" class="mui-scroll-wrapper mui-content">
				
					<div class="mui-scroll ">
					
						<div class="article">
                              
							<div class="article_tittle">
								那所勇敢捍卫过个尊严的香港学校，背景不太简单！
							</div>
							<div class="article_author">
								<!--<a href="javascript:;" class="us_photo">
									<img src="../img/4.jpg" alt="" />
								</a>-->
								<span class="au_origin">知乎</span>
								<div class="au_read">
									<span class="num">100</span>
									<span>次阅读</span>
								</div>
							</div>

							<div class="article_content" id="content">

							</div>
						</div>
					</div>
				</div>

			</div>

		</div>


	
		<script src="../js/mui.min.js"></script>
		<script src="../js/rem.js"></script>
		<script src="../js/mui.zoom.js"></script>
		<script src="../js/mui.previewimage.js"></script>
		<!--<script src="../js/detail.js"></script>-->
		<script type="text/javascript">
			mui.previewImage(); //启动图片快捷查看
			mui.init();
			//侧滑容器父节点
			var offCanvasWrapper = mui('#offCanvasWrapper');
			//主界面容器
			var offCanvasInner = offCanvasWrapper[0].querySelector('.mui-inner-wrap');
			//菜单容器
			var offCanvasSide = document.getElementById("offCanvasSide");

			//移动效果是否为整体移动
			var moveTogether = false;

			//主页面区域滚动事件
			mui('#offCanvasContentScroll').scroll({
				 indicators: false
			})
			
			//flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
			mui('.mui-scroll-wrapper').scroll({deceleration:1});

			//内容加载
			mui.ajax({
				url: 'https://mock.mmcai.cn/mock/5a530bdd2b68750fbe1ac4eb/index/listDetail',
				dataType: 'json',
				type: 'get',
				success: function(e) {
					document.querySelector('.article_tittle').innerHTML = e.data[0].title;
					document.querySelector('.au_origin').innerHTML = e.data[0].come;
					document.querySelector('.au_read>.num').innerHTML = e.data[0].number;
					document.getElementById('content').innerHTML = e.data[0].content;
				}
			});
			
			mui.plusReady(
				mui('.article_content').on('tap', 'img', function() {
					this.setAttribute('data-preview-src', '')
					this.setAttribute('data-preview-group', '1')
				}),
				mui('.link').on('tap','#openApp',function(e){ 
//						window.location.href = "jiansiSchem://"; 
						window.location.href = "weixin://";   
						window.setTimeout(function(){  
							location.href='https://itunes.apple.com/cn/app/id1332557222'
						},2000) 
				})  
			)

		</script>
	</body>

</html>